.offer {
    padding: 120px 0px 150px;
    background-image: url(/img/offer-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    &__container {
        max-width: 1300px;
        margin: auto;
    }

    &__titles {
        text-align: center;
        color: white;
    }

    &__blue {
        color: #3E9CDC;
    }

    &__subtitle {
        font-size: 18px;
        line-height: 21.6px;
        font-weight: 400;
        margin: 0;
        padding: 30px 0px 80px 0px;
    }

    &__roadmap {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    &__checkpoint {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
    }

    &__checkpoint-svg {
        width: 100px;
        height: 100px;
    }

    &__checkpoint-stick {
        width: 110px;
        height: 10px;
        position: absolute;
        top: 25%;
        left: 96%;
    }

    &__checkpoint-title {
        font-size: 16px;
        line-height: 19.2px;
        font-weight: 400;
        color: white;
        text-align: center;
        margin: 0;
        padding: 20px 0;
    }

    &__inputs {
      display: flex;
      flex-direction: row;
      gap: 30px;
      align-items: center;
      padding: 80px 0px 20px 0px;
    }
  
    &__email {
      width: 100%;
      padding: 12px;
      color: #272733;
      background: rgba(255, 255, 255, 0.85);
      border: 1px solid #FFFFFF;
      border-radius: 3px;
      font-size: 18px;
      font-family: Lato, sans-serif;

      &::placeholder {
        color: #272733;
      }
    }
  
    &__name {
      width: 100%;
      padding: 12px;
      color: #272733;
      background: rgba(255, 255, 255, 0.85);
      border: 1px solid #FFFFFF;
      border-radius: 3px;
      font-size: 18px;
      font-family: Lato, sans-serif;

      &::placeholder {
        color: #272733;
      }
    }
  
    &__progress {
      display: flex;
      gap: 30px;
      padding: 30px 0;
      align-items: flex-end;
      justify-content: space-between;
    }

    &__slider {
      width: 65%;
    }

    &__btn {
      width: 30%;
    }

    &__download {
      opacity: 0;
      visibility: hidden;
      position: absolute;
    }

    &__file-button {
      width: 100%;
      min-width: 370px;
      height: 48px;
      background: white;
      color: black;
      text-transform: uppercase;
      font-family: Lato, sans-serif;
      font-size: 15px;
      line-height: 18px;
      font-weight: 600;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 3px;
      cursor: pointer;
      margin: 0 auto;
      border: 2px solid #3E9CDC;
    }

    &__file-icon-wrapper {
      height: 20px;
      width: 20px;
      margin-right: 15px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
    }

    &__file-button-text {
      line-height: 1;
      margin-top: 1px;
    }

    &__success {
      padding: 40px 0px 0px 0px;
      text-align: center;
    }

    &__success-send {
      background: #3E9CDC;
      border: 1px solid #FFFFFF;
      border-radius: 4px;
      color: white;
      font-family: Lato, sans-serif;
      font-size: 15px;
      line-height: 18px;
      font-weight: 600;
      padding: 17.5px 124px;
      cursor: pointer;
    } 
}

.progressbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__text {
    font-size: 18px;
    line-height: 21.6px;
    font-weight: 400;
    color: white;
  }
}

.example-val {
  color: rgba(255, 255, 255, 0.85);
  background-color: transparent;
  border: none;
  text-align: end;
  font-size: 18px;
  line-height: 21.6px;
  font-weight: 600;
  font-family: Lato, sans-serif;
  &:focus-visible {
    outline: none;
  }
}

.noUi-horizontal {
  height: 6px;
}

.noUi-connect, .noUi-origin {
  top: -3px;
}

.noUi-touch-area, .noUi-horizontal .noUi-handle {
  height: 23.72px;
  width: 23.72px;
  cursor: grab;
}

.noUi-handle {
  background: #42A9ED;
  border: 3px solid #286690;
  box-shadow: none;
  border-radius: 100%;
  &::after {
    display: none;
  }
  &::before {
    display: none;
  }
}

$tablet: 768px;

.dropdown {
  width: 100%;
  font-family: Lato, sans-serif;
  
  &__switch:checked + &__options-filter &__select {
    transform: scaleY(1);
  }
  
  &__switch:checked + &__options-filter &__filter:after {
    transform: rotate(-135deg);
  }
  
  &__options-filter {
    width: 100%;
    cursor: pointer;
  }

  &__filter {
    position: relative;
    display: flex;
    padding: 12px;
    color: #272733;
    background: rgba(255, 255, 255, 0.85);
    border: 1px solid #FFFFFF;
    border-radius: 3px;
    font-size: 18px;
    transition: .3s;
    list-style: none;
    
    &:focus {
      border: none;
      outline: none;
      background: rgba(61, 64, 80, 0.85);
      border-radius: 3px 3px 0px 0px;
      color: white;
    }

    &::after {
      position: absolute;
      top: 45%;
      right: 20px;
      content: '';
      width: 10px;
      height: 10px;
      border-right: 2px solid #595959;
      border-bottom: 2px solid #595959;
      transform: rotate(45deg) translateX(-45%);
      transition: .2s ease-in-out;
    }
  }

  &__select {
    position: absolute;
    z-index: 5;
    top: 100%;
    left: 0;
    width: 100%;
    overflow: hidden;
    transform: scaleY(0);
    transform-origin: top;
    font-weight: 300;
    transition: .2s ease-in-out;
    overflow-y: scroll;
    max-height: 307px;
    border: none;
    border-radius: 0px 0px 3px 3px;

    &::-webkit-scrollbar {
      width: 7px;
      background: #3D4050;
      border-radius: 3px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #3E9CDC;
      border-radius: 3px;
    }

  }

  &__select-option {
    padding: 20px;
    background-color: #272733;
    transition: .3s;
    border: none;
    outline: none;
    background: rgb(61 64 80);;
    color: white;

    &:last-of-type {
      border-bottom: 0;
    }

    &:focus {
      color: black;
    }

    &:hover {
      color: #42A9ED;
    }
  } 
}
