.footer {
    background: #3D4050;
    width: 100%;
    padding: 30px 20px;
    &__container {
        max-width: 1300px;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__copyright {
        color: white;
    }

    &__payment {
        display: flex;
        gap: 38px;
    }

    &__payment-card {
        text-decoration: none;
        display: flex;
        align-items: center;
        gap: 10px;
    }

    &__logo-svg {
        width: 20px;
        height: 20px;
    }

    &__payment-title {
        color: #C3C3C3;
        &:hover {
            color: #43ABF0;
            cursor: pointer;
            transition: 0.3s;
        }
    }

    &__contacts {
        display: flex;
        gap: 38px;
    }

    &__contacts-card {
        text-decoration: none;
        display: flex;
        align-items: center;
        gap: 10px;
    }

    &__contacts-title {
        color: white;
        &:hover {
            color: #43ABF0;
            cursor: pointer;
            transition: 0.3s;
        }
    }
}
