h1, h2, h3, h4, h5, h6, ul {
    margin: 0;
    padding: 0;
}

body, html {
    overflow-x: hidden;
    height: 100%;
}

.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1 1 auto;
}

h1 {
    font-family: Lato, sans-serif;
    font-size: 48px;
    line-height: 57.6px;
    font-weight: 700;
    text-transform: uppercase;
}

h2 {
    font-family: Lato, sans-serif;
    font-size: 36px;
    line-height: 43.2px;
    font-weight: 800;
}

p {
    font-family: Lato, sans-serif;
    font-size: 13px;
    line-height: 15.6px;
    font-weight: 400;
}
